.resume {
    display: flex;
    width: 100vw;
}

.profile{
    width: 100vw;
    transition: width 0.5s ease-in-out;
    overflow-x: hidden;
}

.admin {
    width: 0;
    transition: all 0.5s ease-in-out;
    opacity: 0;
    box-shadow: -10px 0 10px -5px rgba(0, 0, 0, 0.2);
}

.profile.admin-open {
    width: 50vw;
}

.admin.admin-open {
    width: 50vw;
    opacity: 1;
}

@media only screen and (max-width: 1200px) {
    .profile.admin-open {
        width: 0;
    }

    .admin.admin-open {
        width: 100vw;
        opacity: 1;
    }
}


