@mixin SpaceAround {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

@mixin LineClamp2 {
    display: -webkit-box;
        -webkit-line-clamp: 2;
        font-weight: 500;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
}