$primary: #261e51;
$primary-light: #6755d1;
$primary-dark: #190f4f;
$accent: rgb(255, 190, 70);

$app-padding: 10%;
$nav-height: 90px;

$text-primary: #261e51;
$text-secondary: #6755d1;
$text-dark: #000;
$text-light: #fff;

$dark: #000000;
$light: #fff;
